.h1 {
  font-size: 20px;
  margin-top: -20px;
}
.underLine {
  border-bottom: 2px solid silver;
  position: absolute;
  height: 2px;
  margin-top: -30px;
  width: 100%;
}
.closeIcon {
  margin-left: 90%;
  cursor: pointer;
}
.form {
  place-items: center;
  display: grid;
}
.label2 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
.label1 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
.password-validations {
  font-weight: 500;
  width: 70%;
}
.input {
  background: rgb(246, 246, 250);
  border: 1px solid rgb(209, 209, 213);
  caret-color: rgb(0, 106, 255);
  font-weight: 400;
  font-size: 15px;

  outline: 0;
  padding: 12px 16px;
  color: rgb(42, 42, 51);
  width: 100%;

  background-color: #f4f4f9;
  border-radius: 20px;
  height: 60px;
  border: 1px solid;
  border-color: transparent;
  margin-top: 1pc;
  font-family: 'Open Sans', 'Adjusted Arial', Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.formWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.fieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.input-container {
  position: relative;
}

.input-with-icon {
  padding-left: 30px; /* Adjust the padding as needed */
}

.icon {
  position: absolute;
  left: 5px;
  top: 59%;
  transform: translateY(-50%);
}